body {
  background-color: #29292e;
  margin: 0;
}

#space {
  height: 1.5rem;
}

.menu-bar {
  background-color: #1f1f22;
  width: 115rem;
  height: 4rem;
  margin: auto;
  border-radius: 1rem;
  gap: 2rem;
  display: flex;
}

#name-logo {
  color: #f4f7f5;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2rem;
  font-size: 2rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  margin-right: 65rem;
}

.menu-tabs {
  font-size: 1.5rem;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 1.2rem;
}

a:link,
a:visited {
  margin: auto;
  padding-bottom: 3.5rem;
  width: 8rem;
  height: 0.5rem;
  text-decoration: none;
  color: #f4f7f5;
}

a:hover,
a:active {
  text-decoration: none;
  background-color: #f4f7f5;
  border-radius: 5rem;
  color: #1f1f22;
 
}

li {
  list-style: none;
}

#projects {
  float: right;
  padding: 10px 40px 0px 40px;
}

#resume {
  float: right;
  padding: 10px 40px 0px 40px;
}

#contact {
  overflow: auto;
  position: relative;
  float: right;
  padding: 10px 300px 0px 40px;
}

#cover-img {
  position: relative;
  float: right;
  right: 15rem;
  top: 7rem;
  width: 500px;
  z-index: -5;
}

#header {
  display: block;
  margin-left: 6rem;
  margin-bottom: 0;
  padding-top: 100px;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  font-size: 80px;
  color: #f4f7f5;
}

#subheading {
  display: block;
  margin-top: 0;
  margin-left: 6rem;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: #CDE77F;
}

#about {
  display: block;
  width: 5rem;
  margin-left: 6rem;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #f4f7f5;
}
