/* General Styles */
body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;

}

.video-container {
  position: fixed;
  top: -5%;
  left: 0;
  width: 100vw;
  height: 60vw;
  z-index: -1;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000a6;
  pointer-events: none;
}

.headers {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 10px;
}

.paragraph {
  font-size: 20px;
}

.content-normal {
  color: #CED4DB;
  font-size: 18px;
}

hr {
  background-color: #CED4DB;
  margin-bottom: 40px;
  margin-top: -5px;
}

/* Buttons */
.button {
  background-color: #20242D;
  border-color: #20242D;
}

.button:hover {
  background-color: #52585e;
  border-color: #20242D;
}

/* Nav bar */
.navbar {
  width: 100%;
  background-color: #0B0E11;
  height: 5%;
  position: fixed;
  z-index: 9;
  border-bottom-style: solid;
  border-color: #111318;
}

.navbar-brand {
  font-family: "Archivo Black", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: aliceblue;
  position: relative;
}

.navbar-brand:hover {
  color: aliceblue;
}

.navbar-brand::after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.6s ease, left 0.6s ease;
}

.navbar-brand:hover::after {
  width: 100%;
  left: 0;
}

.navbar-toggler {
  border-color: aliceblue;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255,255,255,1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  position: relative;
  color: aliceblue;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-size: 1.3rem;
}

.nav-link:hover {
  color: aliceblue;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.3s ease, left 0.3s ease;
}

.brand-logo {
  height: 30px;
}

.nav-link:hover::after {
  width: calc(100% - 20px);
  left: 10px;
}

.nav-link:last-child {
  margin-left: -15px;
}

/* Home Page */
#main-box {
  margin-top: 17.5%;
}

.main-box-text {
  color: aliceblue;
}

/* About Section */
#about {
  margin-top: 40vh;
  background-color: #0B0E11;
  color: #CED4DB;
  width: 100vw;
  padding: 0;
  border-top-style: solid;
  border-color: #111318;
}

#about-text {
  width: 75%;
  margin: auto;
}

.pg-txt {
  font-size: 25px;
}

/* Projects Page */
#projects {
  background-color: #0B0E11;
  color: #CED4DB;
  margin-top: 5%;
  padding: 20px;
}

#proj-back {
  background-color: #0B0E11;
}

.project-section {
  margin-bottom: 50px;
}

.project-image {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #CED4DB;
}

.carousel-inner img {
  max-height: 500px;
  object-fit: cover;
}


/* Social Icons */
.social-icon {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.social-icon::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.3s ease, left 0.3s ease;
}

.social-icon:hover::after {
  width: calc(100% - 20px);
  left: 10px;
}

@media (max-width: 767px) {
  .video-container {
    display: none;
  }

  body {
    background-color: #15181f;
    background-size: cover;
  }

  .navbar {
    height: 9vh;
  
  }

  .main-box-text {
    text-align: center;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  h1 {
    padding-top: 5vh;
    padding-bottom: 6vh;
  }

  h4 {
    padding-bottom: 2vh;
  }

  .social-icon {
    margin-left: 6vw
  }

  .button {
    margin-left: 15vw;
  }

}