@import "./components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      circle at 30% 20%,
      rgba(45, 65, 90, 0.15),
      rgba(15, 16, 17, 1)
    );
}

