---
---

<section id="hero" class="hero">
  <div class="hero__text">
    <p class="eyebrow">Lorem ipsum dolor</p>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p class="lede">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus, lorem sed
      cursus posuere, ligula ipsum tincidunt ante, vel commodo augue purus at elit.
    </p>
    <div class="pill-row">
      <span class="pill">Lorem ipsum</span>
      <span class="pill">Dolor sit amet</span>
      <span class="pill">Consectetur</span>
    </div>
    <div class="hero__cta">
      <a class="btn primary" href="#projects">See projects</a>
      <a class="btn ghost" href="#about">About me</a>
    </div>
  </div>

  <div class="hero__card">
    <div class="status">
      <span class="signal-dot"></span>
      <p>Available for internships</p>
    </div>
    <div class="hero__insight">
      <p class="muted">Lorem ipsum:</p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Praesent feugiat augue sit amet sapien volutpat, nec tempus nisl lacinia.</li>
        <li>Integer ac urna vitae nunc gravida tristique at in arcu.</li>
      </ul>
    </div>
    <div class="mini-timeline">
      <div>
        <p class="muted">Now</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div>
        <p class="muted">Next</p>
        <p>Praesent fermentum turpis vel dolor tempus, in pulvinar orci varius.</p>
      </div>
    </div>
  </div>
</section>
