---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Project</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <h1>redesign #1432</h1>
    <p>will get it working by midnight today :D</p>
  </body>
</html>
